@{
    ViewData["Title"] = "Breathtaking Calendar";
}


<section id="calendar-section-1" data-type="background" data-speed="3">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="header-text">
                <h1 class="text-center">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="card card-nav-tabs mt-5 mb-5">
    <div class="card-header card-header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#cal" data-toggle="tab">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#rat" data-toggle="tab">Rates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#history" data-toggle="tab">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="cal">
                <iframe src="https://calendar.google.com/calendar/embed?src=stradtkt22%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="tab-pane" id="rat">


                <div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#jan" data-toggle="tab">January</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feb" data-toggle="tab">February</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mar" data-toggle="tab">March</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#apr" data-toggle="tab">April</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#may" data-toggle="tab">May</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jun" data-toggle="tab">June</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#jul" data-toggle="tab">July</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aug" data-toggle="tab">August</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#sep" data-toggle="tab">September</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="#oct" data-toggle="tab">October</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nov" data-toggle="tab">November</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#dec" data-toggle="tab">December</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane" id="jan">
                <img src="~/images/rates/jan.png" alt="January Rates">
            </div>
            <div class="tab-pane" id="feb">
                <img src="~/images/rates/feb.png" alt="February Rates">
            </div>
            <div class="tab-pane" id="mar">
                <img src="~/images/rates/mar.png" alt="March Rates">
            </div>
            <div class="tab-pane" id="apr">
                <img src="~/images/rates/apr.png" alt="April Rates">
            </div>
            <div class="tab-pane" id="may">
                <img src="~/images/rates/may.png" alt="May Rates">
            </div>
            <div class="tab-pane" id="jun">
                <img src="~/images/rates/jun.png" alt="June Rates">
            </div>
            <div class="tab-pane" id="jul">
                <img src="~/images/rates/jul.png" alt="July Rates">
            </div>
            <div class="tab-pane" id="aug">
                <img src="~/images/rates/aug.png" alt="August Rates">
            </div>
            <div class="tab-pane active" id="sep">
                <img src="~/images/rates/sep.png" alt="September Rates">
            </div>
            <div class="tab-pane" id="oct">
                <img src="~/images/rates/oct.png" alt="October Rates">
            </div>
            <div class="tab-pane" id="nov">
                <img src="~/images/rates/nov.png" alt="November Rates">
            </div>
            <div class="tab-pane" id="dec">
                <img src="~/images/rates/dec.png" alt="December Rates">
            </div>
        </div>
    </div>
  </div>



            </div>
            <div class="tab-pane" id="history">
            </div>
        </div>
    </div>
  </div>
    </div>
</section>