@{
    ViewData["Title"] = "Breathtaking Gallery";
}

<section id="reviews-section-1" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-text">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-1 mt-5 mb-5">
            <div id="gallery">
                <img alt="Preview Image 1"
                    src="~/images/pic85.jpg"
                    data-description="Outside Of Breathtaking">
                <img alt="Preview Image 2"
                    src="~/images/pic84.jpg"
                    data-description="Breathtaking">
                <img alt="Preview Image 3"
                    src="~/images/pic81.jpg"
                    data-description="Hot Tub with a nice view">
                <img alt="Preview Image 4"
                    src="~/images/pic77.jpg"
                    data-description="Living Area">
                <img alt="Preview Image 5"
                    src="~/images/pic58.jpg"
                    data-description="Loft Area">
                <img alt="Preview Image 6"
                    src="~/images/pic48.jpg"
                    data-description="Outside On Deck Which Is Now Screened In">
                <img alt="Preview Image 7"
                    src="~/images/pic44.jpg"
                    data-description="View From The Deck">
                <img alt="Preview Image 8"
                    src="~/images/pic40.jpg"
                    data-description="Bedroom One On Main Floor">

                    <img alt="Preview Image 1"
                    src="~/images/pic85.jpg"
                    data-description="Outside Of Breathtaking">
                <img alt="Preview Image 2"
                    src="~/images/pic84.jpg"
                    data-description="Breathtaking">
                <img alt="Preview Image 3"
                    src="~/images/pic81.jpg"
                    data-description="Hot Tub with a nice view">
                <img alt="Preview Image 4"
                    src="~/images/pic77.jpg"
                    data-description="Living Area">
                <img alt="Preview Image 5"
                    src="~/images/pic58.jpg"
                    data-description="Loft Area">
                <img alt="Preview Image 6"
                    src="~/images/pic48.jpg"
                    data-description="Outside On Deck Which Is Now Screened In">
                <img alt="Preview Image 7"
                    src="~/images/pic44.jpg"
                    data-description="View From The Deck">
                <img alt="Preview Image 8"
                    src="~/images/pic40.jpg"
                    data-description="Bedroom One On Main Floor">

                <img alt="Preview Image 1"
                    src="~/images/pic37.jpg"
                    data-description="Bedroom One Another View">
                <img alt="Preview Image 2"
                    src="~/images/pic32.jpg"
                    data-description="Bedroom Two">
                <img alt="Preview Image 4"
                    src="~/images/pic34.jpg"
                    data-description="Bedroom Two">
                <img alt="Preview Image 3"
                    src="~/images/pic28.jpg"
                    data-description="Dining Room And Kitchen">
                <img alt="Preview Image 5"
                    src="~/images/pic24.jpg"
                    data-description="Living Area">
                <img alt="Preview Image 6"
                    src="~/images/pic80.jpg"
                    data-description="Hot Tub With View">
                <img alt="Preview Image 7"
                    src="~/images/pic65.jpg"
                    data-description="Basement With Pool Table">
                <img alt="Preview Image 8"
                    src="~/images/pic53.jpg"
                    data-description="Master Bedroom">

                    <img alt="Preview Image 1"
                    src="~/images/pic52.jpg"
                    data-description="Master Bedroom">
                <img alt="Preview Image 2"
                    src="~/images/pic84.jpg"
                    data-description="Breathtaking">
                <img alt="Preview Image 3"
                    src="~/images/pic61.jpg"
                    data-description="Full Loft View">
                <img alt="Preview Image 4"
                    src="~/images/pic74.jpg"
                    data-description="Living Area">
                <img alt="Preview Image 5"
                    src="~/images/pic58.jpg"
                    data-description="Loft Area">
                <img alt="Preview Image 6"
                    src="~/images/pic48.jpg"
                    data-description="Outside On Deck Which Is Now Screened In">
                <img alt="Preview Image 7"
                    src="~/images/pic44.jpg"
                    data-description="View From The Deck">
                <img alt="Preview Image 8"
                    src="~/images/pic40.jpg"
                    data-description="Bedroom One On Main Floor">
			 			 
	</div>

        </div>
    </div>
</section>