@{
    ViewData["Title"] = "Breathtaking Home";
}

<section id="home-section-1" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-text">
                    <h1 class="text-center">Breathtaking Cabin</h1>
                    <p class="text-center">Sevierville Tn.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home-section-2">
    <div class="container">
        <div class="card card-nav-tabs mt-5 mb-5">
    <div class="card-header card-header-danger">
        
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#gat" data-toggle="tab">Attractions In Gatlinburg</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pig" data-toggle="tab">Attractions In Pigeon Forge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#videos" data-toggle="tab">Videos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="gat">
                 <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-5">
                <h1 class="text-center">Attractions In Gatlinburg</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-center home-title">Guinness World Records Adventure</h3>
                <p class="text-center home-text">
                    Guinness World Records Adventure features hundreds of astounding exhibits from the famous Guinness World Records book and the Guinness
                     World Records Prime-time TV Show. There’s an incredible line-up of feats, facts and records in an amazing display of unparalleled fun.
                    Dramatic recreations come to life at the all new and expanded edition of Guinness World Records. See the Amazing Book come to Life through incredible displays,
                    cool interactive games, trivia, themed galleries and new videos! 
                </p>
                <p class="text-center home-text">
                    <strong>Hours</strong><br>
                    OPEN 365 DAYS A YEAR <br>
                    January - February: Monday - Thursday 10am - 8pm <br>
                    March - Memorial Day: Monday - Thursday 10am - 9pm <br>
                    Memorial Day - Labor Day: Monday - Thursday 10am - 11pm <br>
                    Labor Day - New Year's Day: Monday - Thursday 10am - 9pm
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="~/images/attr-1.jpg" alt="Guinness World Records Adventure">
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="~/images/attr-2.jpg" alt="Ober Gatlinburg Aerial Tram">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-center home-title">Ober Gatlinburg Aerial Tram</h3>
                <p class="text-center home-text">
                    Don’t forget your camera as unsurpassed vistas surround you on all sides while you ride the Aerial Tram up to Ober 
                    Gatlinburg at an elevation of 2700 ft. The Tram departs every 20 minutes traveling at speed of 17 mph with a distance of 2.1 miles. 
                    Total trip time from the downtown station to the mountain top is about 10 minutes.
                    From Downtown Gatlinburg, the 120 passenger Aerial Tramway transports you to the mountaintop of fun where you’ll find 
                    a full day’s excitement starting with our Ski Mountain Coaster, indoor ice skating, Scenic Chairlift, water raft rides, kiddie rides, carousel, Wildlife Encounter with bears, otters, and other native animals.
                    In the winter, snow sport enthusiasts take the Aerial Tramway to the best skiing and snow boarding around!
                </p>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-center home-title">Hillbilly Golf</h3>
                <p class="text-center home-text">
                    It’s the world’s most unusual miniature golf course.
                    Ride the Incline 300 feet straight up to the mountaintop above the city. Two challenging
                    18-hole courses await you. Both are riddled with mountaineer hazards — 
                    from outhouses to stills, rocky walls and lush native plants. It’s great fun and 
                    excitement for the whole family. A truly unique adventure you aren’t likely to forget.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="~/images/attr-4.jpg" alt="Hillbilly Golf">
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="~/images/attr-5.jpg" alt="Fannie Farkle's">  
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-center home-title">Fannie Farkles</h3>
                <p class="text-center home-text">
                    Experience a uniquely original concept in food and entertainment at Fannie Farkle’s Family Fun Parlor! It’s THE fun place to visit in Gatlinburg. 
                    Famous since 1981, their homemade Ogle Dogs are the ultimate footlong corn dog. 
                    Watch them made while you wait for yours! They also serve Hawaiian Shaved Ice, their Famous Sausage Subs, and Cheese Steaks, too! Your taste buds will water every time you pass by!
                    The Amusement Center is full of games for the whole family – old favorites like Skee Ball and Wheel Deal plus the latest 
                    high-tech, non-violent Video and Driving Games for all ages. Select your prizes at the Redemption Counter which has the most varied assortment
                    you’ve ever seen. Not enough points yet? Don’t Worry. Your points NEVER expire at Fannie Farkle’s Family Fun Parlor!
                </p>
            </div>
        </div>
            </div>
            <div class="tab-pane" id="pig">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-5">
                        <h1 class="text-center">Attractions In Pigeon Forge</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h3 class="text-center home-title">The Track</h3>
                        <p class="text-center home-text">
                            The Track Family Fun Parks in Pigeon Forge, TN feature fun for the whole family with multiple go-kart tracks, blaster boats, Kids Country rides, an arcade, and more. 
                            The Track’s signature attraction is the elevated Wild Woody go-kart track, where drivers race up three and a half stories and then circle back down with an exciting drop at the bottom.
                            The Track features single and double karts on both the Wild Woody and Family Track, allowing everyone to get involved in 
                            the action! Younger drivers have the opportunity to take the wheel on the Rookie Track and Kiddie Karts as well.
                            Be sure to take a spin on the Blaster Boats for serious fun on the water. Enjoy bumping into each other and blasting your friends and families 
                            with the water cannons attached to each boat. Children love riding rides in Kids Country – a special place designed just for them.
                            Enjoy rides such as the Carousel, Ferris Wheel, Planes, Spin Tops, Train, Swings and more.
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <img src="~/images/attr-6.jpg" alt="The Track">
                    </div>
                </div>
                <br>
                <hr>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <img src="~/images/attr-7.jpg" alt="Legacy Mountain">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h3 class="text-center home-title">Legacy Mountain</h3>
                        <p class="text-center home-text">
                            Make memories that will last a lifetime on 7 ziplines up to 2,500 feet long located on 400 acres of breathtaking Smoky Mountain 
                            views! Legacy Mountain Ziplines is conveniently located in the heart of Sevierville just minutes from Gatlinburg and Pigeon Forge.
                        </p>
                    </div>
                </div>
                <br>
                <hr>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h3 class="text-center home-title">WonderWorks</h3>
                        <p class="text-center home-text">
                            This is your chance to step into the upside down mansion in Pigeon Forge. Open 365 days a year 7 days a week.
                             Interactive hands-on fun for all. The interactive exhibits are unbelievable! WonderWorks is the cool upside down building
                              in the heart of Pigeon Forge, TN. WonderWorks is open 365 days a year at 9:00 am. 
                            Plan to spend 3-4hrs exploring the interactive exhibits and then stay for The Wonders of Magic Show. 
                            Tickets allow unlimited fun all day. Come and go as you please
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <img src="~/images/attr-8.jpg" alt="WonderWorks">
                    </div>
                </div>
                <br>
                <hr>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <img src="~/images/attr-9.jpg" alt="Crave">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h3 class="text-center home-title">Crave</h3>
                        <p class="text-center home-text">
                            Be one of the first to experience CRAVE! One of Pigeon Forge’s newest attractions, Crave Golf Club has taken Mini – Golf to the next level and set the standard for excitement and fun for all ages!
                            At CRAVE you will be able to take your best shot on 36 custom candy themed courses that will push your imagination to the limits. 
                            The entire family will have an unforgettable time – every hole starts with a spin at the wheel where you may find yourself playing in 
                            new and fun ways that will make everyone in your party laugh and have more fun than any ordinary course you’ve tried in the past – You may even win free treats if your spin is lucky! CRAVE offers you 
                            every environment for Mini – Golf including an indoor course, a hilltop course and even rooftop courses! CRAVE is unlike any Mini – Golf you have ever experienced!
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="videos">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/A1afYPh_FVI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vQyjDlBZt_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
       
    </div>
</section>