@{
    ViewData["Title"] = "Breathtaking Map";
}


<section id="map-section-1" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-text">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="card mt-5">
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-1 mt-5 mb-5">
                    <div id="map"></div>
                </div>
            </div>
            </div>
            <div class="row">
                
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3 text-center">
                        <div class="card p-3 mb-5">
                        <p><img src="~/images/cabin-map-icon-2-1.png" alt="Breathtaking">  Breathtaking Cabin</p>
                        <p><img src="~/images/dolly.png" alt="DollyWood" width="60" height="60"> DollyWood | Distance: 29min 13.1mi</p>
                        <p><img src="~/images/park.png" alt="Smoky Mountains" width="60" height="60"> Smoky Mountains | Distance: 36min 16.7mi</p> 
                        <p><img src="~/images/record.png" alt="World Records" width="60" height="60"> World Recode | Distance: 37min 19.0mi</p> 
                    </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3 text-center">
                        <div class="card p-3 mb-5">
                        <p><img src="~/images/kroger-2.png" alt="Kroger">  Kroger | 20min 9.6mi</p>
                        <p><img src="~/images/ober-1.png" alt="Ober Sky Tram" width="60" height="60"> Ober | Distance: 42min 18.7mi</p>
                        <p><img src="~/images/golf.png" alt="Hillbilly Golf" width="60" height="60"> Hillbilly Golf | Distance: 32min 18.1mi </p>
                        <p><img src="~/images/track.png" alt="The Track" width="60" height="60"> The Track | Distance: 20min 10.0mi</p>
                    </div>
                </div>
            </div>
        </div>
</section>

