@{
    ViewData["Title"] = "Breathtaking Resources";
}


<section id="resources-section-1" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-text">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="resources-section-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="Maples Ridge">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from. <br>
                        <span class="bold">Address</span><br> Maples Ridge Vacation Rentals 1804 Wears Valley Rd P.O. Box 628 Pigeon Forge, TN 37868 <br>
                        <span class="bold">Phone</span><br> 1-800-752-9052</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-2.png" class="card-img-top" alt="Smoky Mountain National Park">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Smoky Mountain National Park</h3>
                        <p class="card-text">At the Smoky Mountains you can hike on many trails and witness some beautiful views. <br> 
                        <span class="bold">Address</span><br> Sugarlands Visitor Center 1420 Little River Road Gatlinburg, TN 37738</p>
                        <div class="card-footer">
                            <a href="https://www.nps.gov/grsm/index.htm" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-3.png" class="card-img-top" alt="Dollywood">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Dollywood Theme Park</h3>
                        <p class="card-text">At Dollywood resort you can ride some fun rides, or even go into a water park.  It is a fun place to be. <br>
                        <span class="bold">Address</span><br> 2700 Dollywood Parks Blvd. Pigeon Forge, TN 37863 <br>
                        <span class="bold">Phone</span><br> 1-800-365-5996</p>
                        <div class="card-footer">
                            <a href="https://www.dollywood.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-4.png" class="card-img-top" alt="Ripleys Believe It Or Not">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Guinness World Records Adventure</h3>
                        <p class="card-text">Here you can see some of the most unthinkable things in this world.  I suggest going there. <br>
                        <span class="bold">Address</span><br>
                        800 Parkway Gatlinburg, TN 37738 <br><span class="bold">Phone</span><br>  (865) 436-5096</p>
                        <div class="card-footer">
                            <a href="https://www.ripleys.com/gatlinburg/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-5.png" class="card-img-top" alt="Ober">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Ober Gatlinburg</h3>
                        <p class="card-text">Here on this tram you can see some amazing views of the mountains in Gatlinburg. <br>
                        <span class="bold">Address</span><br>Ski Area & Amusement Park 1001 Parkway Suite 2 Gatlinburg TN, 37738 <br>
                        <span class="bold">Phone</span><br> (865) 436-5423</p>
                        <div class="card-footer">
                            <a href="https://obergatlinburg.com/aerial-tramway/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from.</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>