@{
    ViewData["Title"] = "Breathtaking Resources";
}


<section id="resources-section-1" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-text">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="resources-section-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-1.png" class="card-img-top" alt="Maples Ridge">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Maples Ridge</h3>
                        <p class="card-text">This is where you will book Breathtaking at.  Other than Breathtaking they have many more cabins to choose from. <br>
                        <span class="bold">Address</span><br> Maples Ridge Vacation Rentals 1804 Wears Valley Rd P.O. Box 628 Pigeon Forge, TN 37868 <br>
                        <span class="bold">Phone</span><br> 1-800-752-9052</p>
                        <div class="card-footer">
                            <a href="https://www.maplesridge.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-2.png" class="card-img-top" alt="Smoky Mountain National Park">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Smoky Mountain National Park</h3>
                        <p class="card-text">At the Smoky Mountains you can hike on many trails and witness some beautiful views. <br> 
                        <span class="bold">Address</span><br> Sugarlands Visitor Center 1420 Little River Road Gatlinburg, TN 37738</p>
                        <div class="card-footer">
                            <a href="https://www.nps.gov/grsm/index.htm" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-3.png" class="card-img-top" alt="Dollywood">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Dollywood Theme Park</h3>
                        <p class="card-text">At Dollywood resort you can ride some fun rides, or even go into a water park.  It is a fun place to be. <br>
                        <span class="bold">Address</span><br> 2700 Dollywood Parks Blvd. Pigeon Forge, TN 37863 <br>
                        <span class="bold">Phone</span><br> 1-800-365-5996</p>
                        <div class="card-footer">
                            <a href="https://www.dollywood.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-4.png" class="card-img-top" alt="Ripleys Believe It Or Not">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Guinness World Records Adventure</h3>
                        <p class="card-text">Here you can see some of the most unthinkable things in this world.  I suggest going there. <br>
                        <span class="bold">Address</span><br>
                        800 Parkway Gatlinburg, TN 37738 <br><span class="bold">Phone</span><br>  (865) 436-5096</p>
                        <div class="card-footer">
                            <a href="https://www.ripleys.com/gatlinburg/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-5.png" class="card-img-top" alt="Ober">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Ober Gatlinburg</h3>
                        <p class="card-text">Here on this tram you can see some amazing views of the mountains in Gatlinburg. <br>
                        <span class="bold">Address</span><br>Ski Area & Amusement Park 1001 Parkway Suite 2 Gatlinburg TN, 37738 <br>
                        <span class="bold">Phone</span><br> (865) 436-5423</p>
                        <div class="card-footer">
                            <a href="https://obergatlinburg.com/aerial-tramway/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-6.png" class="card-img-top" alt="">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Hillbilly Golf</h3>
                        <p class="card-text">Hillbilly Golf Gatlinburg: World's Most Unusual Miniature Golf Course, <br>
                        <span class="bold">Address</span><br>340 Parkway Gatlinburg, TN 37738 <br><span class="bold">Phone</span><br>(865) 436-7470</p>
                        <div class="card-footer">
                            <a href="https://smokymountains.com/gatlinburg/things-to-do/hillbilly-golf-gatlinburg/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-7.png" class="card-img-top" alt="The Track">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">The Track</h3>
                        <p class="card-text">There is nothing better than to ride go carts in Pigeon Forge. <br>
                        <span class="bold">Address</span><br> 2575 Parkway (Traffic Light #3) Pigeon Forge, Tennessee 37863 <br>
                        <span class="bold">Phone</span><br>865.453.4777 </p>
                        <div class="card-footer">
                            <a href="https://www.funatthetrack.com/parks/pigeon-forge/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-8.png" class="card-img-top" alt="WonderWorks">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">WonderWorks</h3>
                        <p class="card-text">This is a fun place for your family to go for an eventful day. <br>
                        <span class="bold">Address</span><br>100 Music Road Pigeon Forge, TN 37863 <br>
                        <span class="bold">Phone</span><br>(865) 868-1800</p>
                        <div class="card-footer">
                            <a href="https://www.wonderworksonline.com/pigeon-forge/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-9.png" class="card-img-top" alt="Gatlinburg Sky Lift">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Gatlinburg Sky Lift</h3>
                        <p class="card-text">This chair lift is awesome.  You get to see all of Gatlinburg with reasonable prices. <br>
                        <span class="bold">Address</span><br>765 Parkway, Gatlinburg, TN 37738 <br>
                        <span class="bold">Phone</span><br>865.436.4307</p>
                        <div class="card-footer">
                            <a href="https://www.gatlinburgskylift.com/" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-10.png" class="card-img-top" alt="Kroger">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Kroger</h3>
                        <p class="card-text">This Kroger is in Pigeon Forge Tn.  It is always helpful to know where a grocery store is when you are on vacation. <br>
                        <span class="bold">Address</span><br>220 Wears Valley Rd Pigeon Forge, TN 37863 <br>
                        <span class="bold">Phone</span><br> (865) 429-0874 <br>
                        <span class="bold">Hours</span><br>Sun - Sat: 24 Hours</p>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-11.png" class="card-img-top" alt="Log Cabin Pancake House">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Log Cabin Pancake House</h3>
                        <p class="card-text">This is a well known breakfast restaurant in Pigeon Forge.  They have great food and great service. <br>
                        <span class="bold">Address</span><br>327 Historic Nature Trail, Gatlinburg, TN 37738 on Google Maps <br>
                        <span class="bold">Phone</span><br>(865) 436-7894 <br>
                        <span class="bold">Hours</span><br>Monday - Sunday (7:00 AM – 2:00 PM)</p>
                        <div class="card-footer">
                            <a href="https://www.logcabinpancakehouse.com" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <img src="~/images/res-12.png" class="card-img-top" alt="BLUFF MOUNTAIN ADVENTURES">
                    <div class="card-body text-center p-1">
                        <h3 class="card-title">Bluff Mountain Adventures</h3>
                        <p class="card-text">You can ride your own atv rides.  This would be loads of fun who can handle the thrill. <br>
                        <span class="bold">Address</span><br>2186 Parkway Pigeon Forge, TN 37863 <br>
                        <span class="bold">Phone</span><br>(866) 428-7711</p>
                        <div class="card-footer">
                            <a href="https://www.mypigeonforge.com/business/bluff-mountain-adventures" class="btn btn-info btn-round">Go There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>