@import url('https://fonts.googleapis.com/css?family=PT+Sans|Source+Sans+Pro|EB+Garamond|Vollkorn|ABeeZee|Alegreya+Sans+SC|Rambla|Spirax');




body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #eeeeee;
}
#home-section-1 {
    background: url('../images/pic84.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 650px;
}
#reviews-section-1 {
    background: url('../images/about-1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 450px;
}
#about-section-1 {
    background: url('../images/pic48.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 450px;
}
#map-section-1 {
    background: url('../images/pic42.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 450px;
}
#resources-section-1 {
    background: url('../images/pic48.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 450px;
}
#calendar-section-1 {
    background: url('../images/pic80.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 450px;
}
.header-text {
    margin-top: 20%;
    color: white;
    font-weight: 700;
    font-family: 'Spirax', cursive;
}
.navbar {
    background: linear-gradient(100deg, limegreen, dodgerblue);
    background: -webkit-linear-gradient(100deg, limegreen, dodgerblue);
    background: -moz-linear-gradient(100deg, limegreen, dodgerblue);
    background: -o-linear-gradient(100deg, limegreen, dodgerblue);
}
.nav-tabs li.nav-item .active {
    background: linear-gradient(100deg, limegreen, dodgerblue);
    background: -webkit-linear-gradient(100deg, limegreen, dodgerblue);
    background: -moz-linear-gradient(100deg, limegreen, dodgerblue);
    background: -o-linear-gradient(100deg, limegreen, dodgerblue);
}
.dropdown-item {
    font-size: 15px !important;
}
.navbar-brand,
.nav-link {
    font-size: 18px !important;
}
.nav-tabs li.nav-item {
    margin: 0 auto;
}
.fas.fa-star {
    color: gold;
}
#footer-section {
    background: linear-gradient(100deg, limegreen, dodgerblue);
    background: -webkit-linear-gradient(100deg, limegreen, dodgerblue);
    background: -moz-linear-gradient(100deg, limegreen, dodgerblue);
    background: -o-linear-gradient(100deg, limegreen, dodgerblue);
    margin: 0;
    padding: 0;
    height: 180px;
    position: relative;
    top: 40px;
}
#footer-section p {
    margin-top: 10%;
    color: white;
    text-align: center;
}
.carousel-inner {
    width: 100%;
    height: 500px;
}
#about p.about-text {
    padding: 50px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}
ul li {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}
ul {
    list-style-type: none;
}
#map {
    width: 100%;
    height: 400px;
}
.home {
    width: 10px;
    height: 10px;
}
#openweathermap-widget-11 {
    position: relative;
    left: 10%;
}
#gallery {
    margin: 0 auto;
}
.weatherwidget-io {
    margin-top: 20px;
}
span.bold {
    font-weight: 800;
    color: #000;
}
.home-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
    font-size: 120%;
}
.home-title {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}
.card-body h1 {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
}
.book-now-footer {
    display: block;
    margin: 0 auto;
}
.amenities {
    display: inline-block;
}
.amenities ul {
    display: inline-block;
}
.amenities ul li {
    font-size: 20px;

}
.first-name-container {
    background: rgba(250,250,250,0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.first-name {
    text-shadow: 2px 2px 3px dodgerblue;
}
.review-text {
    font-family: 'ABeeZee', sans-serif;
    font-weight: 590;
}
.review-name {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 650;
}
.reviews {
    overflow-y: scroll;
    scroll-behavior: auto;
    height: 650px;
}
.reviews::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.reviews::-webkit-scrollbar-track {
    background: linear-gradient(120deg, dodgerblue, limegreen)
}

/* Handle */
.reviews::-webkit-scrollbar-thumb {
    background:blue; 
}

/* Handle on hover */
.reviews::-webkit-scrollbar-thumb:hover {
    background: dodgerblue;
}
.card input[type="submit"] {
    margin: 0 auto;
    text-align: center;
    display: block;
}
#rat .card-header .nav-tabs-navigation .nav-tabs-wrapper .nav .nav-item .nav-link {
    font-size: 16px !important;
}

.login form input,
.register form input,
#contact-section-1 form textarea,
#contact-section-1 form input {
    box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
}

